.header {
  text-align: center;
  font-size: 3rem;
  margin-top: 8rem;
  color: white;
  padding: 0rem 1.2rem;
}
.header span {
  color: #8be5e3;
}
.container {
  padding: 4rem 9%;
  margin: auto;
}

.innerContainer {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4rem;
}

.info {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info h2 {
  margin-top: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}
.info p {
  font-weight: 200;
  padding-bottom: 1rem;
}

.buttonContainer {
  margin: 1rem 0;
}

.button {
  box-shadow: 0 0 1rem #8be5e3;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 1rem;
  background: #8be5e3;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 1rem;
  }
}

@media (max-width: 1300px) {
  .innerContainer {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media (max-width: 1000px) {
  .innerContainer {
    grid-template-columns: 1fr;
  }
  .container {
    width: 100%;
  }
  .header {
    font-size: 2rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  .info {
    width: 100%;
  }
  .imageContainer {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    width: 80%;
  }
  .header {
    font-size: 1.8rem;
  }
  .info h2 {
    margin-top: 0;
  }
  .container {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .imageContainer {
    width: 100%;
  }
}
