.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 9%;
}
.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  vertical-align: middle;
}

.logoText {
  font-size: 1.3rem;
  color: white;
  vertical-align: middle;
}

.navbar a {
  margin-right: 1.2rem;
  font-size: 1rem;
  color: white;
  
}

.link {
  color: white;
}
.link:hover {
  color: #5856e8;;
}
.button {
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: #5856e8;
  color: white;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.burgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.burgerMenu {
  display: none;
  font-size: 1.3rem;
  color: white;
}

.navbarMobile {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .burgerMenu {
    display: block;
  }
  .navbar {
    display: none;
  }
  .button {
    display: block;
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem;
  }
  .link {
    color: white;
  }
  
}
