.container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 115px;
  padding: 1rem;
  border-radius: 1rem;
}

.header {
  margin-top: 5rem;
  text-align: center;
  font-size: 3.5rem;
  
}

.containerRight {
  margin-left: 6rem;
}

.containerRight iframe {
  width: 500px;
  height: 310px;
  border-radius: 1rem;
}
@media (max-width: 1447px) {
  .container{
    width: 80%;
  }
  
}
@media (max-width: 897px) {
  .container {
    width: 90%;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  .containerRight {
    margin-left: 0rem;
  }
  .containerRight iframe {
    width: 300px;
    height: 310px;
    border-radius: 1rem;
  }
}
