.container {
  min-height: 100vh;
  padding: 4rem 9%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  border-radius: 1rem;
  gap: 6rem;
}

.header {
  margin-top: 5rem;
  text-align: center;
  font-size: 3.5rem;
}

.map__container iframe {
  width: 500px;
  height: 310px;
  border-radius: 1rem;
}

@media (max-width: 1250px) {
  .container {
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
  }
  .map__container {
    display: flex;
    justify-content: center;
  }
  .map__container iframe {
    width: 100% !important;
  }
  .containerRight {
    margin-left: 0rem;
  }
  .containerRight iframe {
    width: 320px;
    height: 310px;
  }
}
