.wrapper {
  padding: 4rem 9%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  padding-top: 3rem;
  width: 25%;
  margin: auto;
}
.container {
  margin-top: 1rem;
}

.textContainer {
  color: #ebebeb;
  font-weight: 300;
  max-width: 50%;
  font-size: 1.1rem;
  text-align: center;
  margin: auto;
}

.textContainer h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.textContainer p {
  color: rgb(169, 169, 169);
}

.buttonContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 1rem;
  padding: 1rem;
  border: 0;
  border-radius: 0.8rem;
  font-size: 1.1rem;
  background-color: #8be5e3;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0 0.7rem #8be5e3;
  z-index: 2;
}
.button a {
  color: black;
}
.button:hover {
  transform: scale(1.1);
}

@media (max-width: 1500px) {
  .imageContainer {
    width: 23%;
    padding-top: 1rem;
  }
  .textContainer {
    max-width: 65%;
  }
}

@media (max-width: 1200px) {
  .textContainer h1 {
    font-size: 1.3rem;
  }
  .textContainer p {
    font-size: 1rem;
  }
  .imageContainer {
    width: 35%;
  }
  .textContainer {
    max-width: 85%;
  }
}

@media (max-width: 900px) {
  .imageContainer {
    width: 45%;
  }
  .textContainer {
    max-width: 85%;
  }
}

@media (max-width: 600px) {
  .imageContainer {
    width: 80%;
    padding-top: 3rem;
  }

  .textContainer p {
    font-size: 0.9rem;
  }
  .textContainer {
    max-width: 100%;
  }
  .button {
    font-size: 1.1rem;
  }
}
