.container {
  margin-top: 10rem;
  margin-left: 5.2rem;
}

.upText {
  color: #ff7642;
  font-size: 1rem;
  font-weight: 200;
}

.header {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 400;
  color: white;
}

.text {
  color: #ebebeb;
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.slider {
  width: 90%;
  margin: auto;
}

.button {
  background: #ff7642;
  border: 0;
  border-radius: 1rem;
  color: black;
  font-weight: 500;
  padding: 0.4rem 1rem;
}

@media (max-width: 767px) {
  .container {
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 0rem;
    padding: 0 2rem;
  }
  .buttonContainer {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .slider{
    width: 80%;
  }
}
