.card{
    margin-top: 2rem;
    width: 25%;
    background-color: rgb(49, 42, 42);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background 0.9s ease;
}
.card:hover{
    background: rgb(61, 65, 63);
}
.logoContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.logoContainer svg{
    font-size: 2rem;
}

.star svg{
    font-size:1rem;
}

.text{
    padding: 1rem;
    font-weight: 200;
}

.autor{
    font-weight: 400;
    padding: 0 1rem;
}

@media (max-width: 767px) {
    .card {
      width: 80%;
      margin: auto;
      margin-top: 2rem;
    }
  }
  