.card {
  width: 80%;
  background-color: #323232;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background 0.9s ease;
  margin: auto;
}
.card:hover {
  background: rgb(61, 65, 63);
}
.logoContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.logoContainer svg {
  font-size: 2rem;
}

.star svg {
  font-size: 1rem;
}

.text {
  padding: 1rem;
  font-weight: 200;
  color: white;
}

.autor {
  font-weight: 400;
  padding: 0 1rem;
  color: white;
}

@media (max-width: 767px) {
  .card {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
}
