.itemContainer {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.itemContainer svg {
  font-size: 3.5rem;
  color: rgb(247, 247, 247);
}

.itemContainer:hover {
  background-color: rgb(48, 47, 47);
  cursor: pointer;
}

@media (max-width: 767px) {
  .itemContainer {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
