.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.switch {
  display: flex;
  flex-direction: row;
}
.switch p {
  margin: 0 1.5rem;
  color: white;
}
.text {
  color: #ff7642;
  font-weight: 300;
}

.header {
  font-size: 1.8rem;
  color:white;
}
.itemContainer {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
}


@media (max-width:1200px){
  .itemContainer{
    width: 100%;
  }
}


@media (max-width: 967px) {
  .itemContainer{
    margin: auto;
    justify-content: center;
    width: 100%;
  }
  .switch p{
    display: none;
  }
  .text{
    font-size: 1rem;
  }
  .header{
    font-size: 1.6rem;
    font-weight: 400;
  }
}
