.wrapper {
  display: flex;
  margin: auto;
  padding: 4rem 9%;
}

.text {
  color: #ff7642;
  font-weight: 300;
}

.header {
  font-size: 1.8rem;
  color: white;
}
.itemContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .itemContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .itemContainer {
    grid-template-columns: 1fr;
  }
  .text {
    font-size: 1rem;
  }
}
