.item {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background 0.3s ease;
  cursor: pointer;
}
.item:hover{
  background: rgb(36, 32, 32);
}


.header {
  font-size: 1.2rem;
  font-weight: 500;
}

.text {
  font-size: 0.9rem;
  color: #ebebeb;
  font-weight: 200;
}

.img {
  display: flex;
  justify-content: center;
}

.textContainer{
    margin-top: 1rem;
    
}